<!-- Portfolio Grid -->
<head>
  <link rel="stylesheet" href="웹화면구현_2171040_장현수/css/History.css">

  <style>
   h3 > p
    {
      font-family: Arial, sans-serif;
      color: black;
      
      font-weight: 800;
    }
  </style>
</head>
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: 'History' }}" >
  <div class="container" style="position: relative">
    <img src="웹화면구현_2171040_장현수/Image/ManchesterUnitedEmblem.svg" id="backgroundImage" style="width: auto; height: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  z-index: 0; filter: blur(2px);">
    
    <div class="row" style="z-index: 3; background: rgba(255, 255, 255, 0);" ></div>
      
      <div class="col-lg-12 text-center " >
        <!-- <img src="웹화면구현_2171040_장현수/Image/ManchesterUnitedEmblem.svg" alt="" style="z-index: -1; left: 50%; right: 50%; transform: translate(-50%, -50%);"> -->
        <h2 class="section-heading text-uppercase" >{{ site.data.sitetext[site.locale].portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{  site.data.sitetext[site.locale].portfolio.text | markdownify }}</h3>
      </div>
    </div>
    <!-- <div class="row">
	{% for project in site.portfolio %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div> -->
	<!-- {% endfor %} -->
    <!-- </div> -->
  </div>
  
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.portfolio.text | markdownify }}</h3>
      </div>
    </div>
    <!-- <div class="row">
	{% for project in site.portfolio %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div> 
	 {% endfor %} 
     </div> -->
  </div>
</section>
{% endif %}
{% include modals.html %}
